# Adding necessary files to be ignored throughout the time active
# development is going on


.vscode/
env/
.ipynb_checkpoints/
Testdata/
dist/
node_modules/
test/



__pycache__/
Data-CSR/


../../SearchApp/nohup.out
