# Adding necessary files to be ignored throughout the time active
# development is going on


.vscode/
env/
.ipynb_checkpoints/
Testdata/
dist/
node_modules/
test/



__pycache__/
Data-CSR/


UnifiedCSV/final_csv.csv
UnifiedCSV/final_csv.csv
../../SearchApp/nohup.out
.DS_Store
.DS_Store
Notebooks/final_csv.csv
Notebooks/final_csv.csv
