/****** IGNORE ******/
body {
    width: 400px;
    margin: 100px auto;
    background-color: #f5f5f5;
}

button {
    background-color: #00AE68;
    margin-left: 130px;
    border-radius: 5px;
    cursor: pointer;
    margin-right: 50px;
    margin-top: 20px;
    color: #fff;
    font-size: 16px;
    font-weight: bold;
    line-height: 1.4;
    padding: 10px;
    width: 180px
}

body {
    font-family: 'Open Sans', serif;
    background-color: #fff;
    padding: 100px;
}

.file-upload {
    position: relative;
}

.file-upload .form-control-file {
    display: none;
}

.file-upload label {
    font-size: 16px;
    line-height: 44px;
    color: #d6d6d6;
    width: 100%;
    position: relative;
    cursor: pointer;
    background-color: gray;
    border-radius: 5px;
    display: block;
    height: 44px;
    margin: 0;
    overflow: hidden;
    padding: 0 20px 0 120px;
}

.file-upload label:before {
    content: 'UPLOAD';
    position: absolute;
    left: 0;
    top: 0;
    width: 100px;
    text-align: center;
    background-color: #000;
    color: #fff;
}
