<head>
    <link href="edgar/static/default_view.css" rel=" stylesheet">
    <script type="text/javascript" src="edgar/static/js/default_view.js"></script>
</head>
<h1>Probability of Default</h1>

<div class="box">
    <div class="container-3">
        <form method="POST" enctype=multipart/form-data> <input name="input" type="text" id="search"
            placeholder="Search..." />
        <input type="submit" name="button1" value="Submit" formaction="/default_results"></input>
        </form>
    </div>
</div>
