<head>
    <link href="../static/default_view.css" rel=" stylesheet">
    <script type="text/javascript" src="./static/js/default_view.js"></script>
</head>
<h1>Radial Progress Bars</h1>
<div id="wrapper" class="center">
    <svg class="progress blue noselect" data-progress="63" x="0px" y="0px" viewBox="0 0 80 80">
        <path class="track" d="M5,40a35,35 0 1,0 70,0a35,35 0 1,0 -70,0" />
        <path class="fill" d="M5,40a35,35 0 1,0 70,0a35,35 0 1,0 -70,0" />
        <text class="value" x="50%" y="55%">0%</text>
        <text class="text" x="50%" y="115%">Blue</text>
    </svg>
    <svg class="progress green noselect" data-progress="33" x="0px" y="0px" viewBox="0 0 80 80">
        <path class="track" d="M5,40a35,35 0 1,0 70,0a35,35 0 1,0 -70,0" />
        <path class="fill" d="M5,40a35,35 0 1,0 70,0a35,35 0 1,0 -70,0" />
        <text class="value" x="50%" y="55%">0%</text>
        <text class="text" x="50%" y="115%">Green</text>
    </svg>

    <svg class="progress green noselect" data-progress="33" x="0px" y="0px" viewBox="0 0 80 80">
        <path class="track" d="M5,40a35,35 0 1,0 70,0a35,35 0 1,0 -70,0" />
        <path class="fill" d="M5,40a35,35 0 1,0 70,0a35,35 0 1,0 -70,0" />
        <text class="value" x="50%" y="55%">0%</text>
        <text class="text" x="50%" y="115%">Green</text>
    </svg>
</div>
